body{
    background-color:rgb(174, 185, 206);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
h1{
    background-color:rgb(66, 80, 85);
    color:rgb(255, 254, 254);
    text-align:center;
}
header{ /*Define o cabeçalho do site*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#161616;
    border-radius:5px; /*arredonda os cantos de um elemento*/
    margin-top:10px;
}

.logo img{ /*alteração da div logo especificamente na tag img*/
    width:50%; /*aumenta ou diminui a imagem, usar % para o tamanho redimensionar de acordo com a tela*/
    padding-top:50px; /*fez a imagem descer, deu mais espaço acima da imagem*/
}

.navegacao{
    overflow:hidden; /*esconde a barra de rolagem*/
}

.navegacao a{ /*altera os hyperlinks da classe navegaçao com a tag "a"*/
    float: right; /*posiciona o conteudo em relaçao a direita*/
    color: rgb(173, 173, 173);
    text-decoration:none;
    padding:10px;
}

.navegacao a:hover{ /*altera a cor dos links quando o mouse passa por cima*/
    color:#e32936;
    background-color:black;
}