
body{
    background-color:rgb(174, 185, 206);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
h1{
    background-color:rgb(66, 80, 85);
    color:rgb(255, 254, 254);
    text-align:center;
}
h2{
    color:rgb(84, 100, 109);
}
h3{
    color:rgb(76, 106, 126);
}
