html{
    scroll-behavior: smooth;
}

*{
    margin:0;
    text-decoration: none;
}

body{
    background-color:rgb(174, 185, 206);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

header{ /*Define o cabeçalho do site*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#272323;
    margin:0px;
    font-size: 20px;
    position:fixed;
    top:0px;
    right: 0px;
    left:0px;
}

.navegacao{
    overflow:hidden; /*esconde a barra de rolagem*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.navegacao a{ 
    color: rgb(245, 234, 234);
    text-decoration:none;
    padding: 1% 5% 1% 5%;
}

.navegacao a:hover{ 
    color:#e32936;
    background-color:black;
    transition: 1s;
}

.apresent{
    background-image: url(../imgp/img_apresent.jpg);
    margin:0px;
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
    height: 650px;
    text-align: center;
    place-items: center;
    
}

.apresent img{
    margin:5%;
    padding: 4%;
}

.secondpart{
    background-image: linear-gradient(0, #061d1e 0, #051716 16.67%, #030e0d 33.33%, #000000 50%, #000000 66.67%, #000000 83.33%, #000000 100%);
    height: 300px;
    text-align: center;
    padding: 3% 31% 5% 31%;
    
}

.secondpart-title{
    font-size: 70px;
    font-family:monospace;
    color: rgb(255, 255, 255);
}

.secondpart-title2{
    font-size: 50px;
    color:#f01d2b;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid #f01d2b;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f01d2b; }
  }

.list{
    background-color: #061d1e;
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.atv{
    /*height:60px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 8%;
    margin:3% 5% 3% 5%;
    background-color: #030f0d;
    padding:2%;
    text-align:start;
   
}

.atv-number{
    font-size:100px;
    color:white;
}

#HTML{
    font-size:80px;
    margin: 0% 5% 2% 5%;
    color:white;
}

#CSS{
    font-size:80px;
    margin: 2% 5% 2% 5%;
    color:white;
}

#JS{
    font-size:80px;
    margin-left:5%;
    color:white;
}

h1{
    font-size:40px;
    color:rgb(177, 177, 177);
    padding-bottom:2%;
}

p{
    color:rgb(177, 177, 177);
}

footer{
    background-image: linear-gradient(180deg, #061d1e 0, #051716 16.67%, #030e0d 33.33%, #000000 50%, #000000 66.67%, #000000 83.33%, #000000 100%);
    height: 300px;
    text-align: center;
}

.pfoot{
    font-size:20px;
    padding-top:5%;
}