*{
    margin:0;
}

body{
    background-color:rgb(174, 185, 206);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

header{ /*Define o cabeçalho do site*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#272323;
    margin:0px;
    font-size: 15px;
   
}

.logo img{ /*alteração da div logo especificamente na tag img*/
    width:50%; /*aumenta ou diminui a imagem, usar % para o tamanho redimensionar de acordo com a tela*/
    padding-top:50px; /*fez a imagem descer, deu mais espaço acima da imagem*/
}

.navegacao{
    overflow:hidden; /*esconde a barra de rolagem*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navegacao a{ /*altera os hyperlinks da classe navegaçao com a tag "a"*/
    
    color: rgb(245, 234, 234);
    text-decoration:none;
    padding: 1% 5% 1% 5%;
}

.navegacao a:hover{ /*altera a cor dos links quando o mouse passa por cima*/
    color:#e32936;
    background-color:black;
}

.apresent{
    background-image: url(../imgp/img_apresent.jpg);
    margin:0px;
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
    place-items: center;
    
}

.apresent img{
    margin:5%;
    padding: 4%;
}

.secondpart{
    background-image: linear-gradient(0, #003240 0, #002e39 7.14%, #002930 14.29%, #022428 21.43%, #061e1f 28.57%, #061817 35.71%, #030f0d 42.86%, #000000 50%, #000000 57.14%, #000000 64.29%, #000000 71.43%, #000000 78.57%, #000000 85.71%, #000000 92.86%, #000000 100%);
    height: 500px;
    text-align: center;
    padding: 3%;
}

.secondpart-title{
    font-size: 70px;
    font-family:monospace;
    color: rgb(255, 255, 255);
}

.secondpart-title2{
    font-size: 50px;
    color:#f01d2b;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid #f01d2b;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f01d2b; }
  }

