*{
    margin:0;
}

body{
    background-color:rgb(174, 185, 206);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

header{ /*Define o cabeçalho do site*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#ffffff;
    margin:0px;
    font-size: 15px;
   
}

.logo img{ /*alteração da div logo especificamente na tag img*/
    width:50%; /*aumenta ou diminui a imagem, usar % para o tamanho redimensionar de acordo com a tela*/
    padding-top:50px; /*fez a imagem descer, deu mais espaço acima da imagem*/
}

.navegacao{
    overflow:hidden; /*esconde a barra de rolagem*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navegacao a{ /*altera os hyperlinks da classe navegaçao com a tag "a"*/
    
    color: rgb(0, 0, 0);
    text-decoration:none;
    padding: 1% 5% 1% 5%;
}

.navegacao a:hover{ /*altera a cor dos links quando o mouse passa por cima*/
    color:#e32936;
    background-color:black;
}

.apresent{
    background-image: url(../imgp/img_apresent.jpg);
    opacity:0.9;
    margin:0px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
}

.apresent img{
    margin:5%;
}